<div class="container-sm form-container-wide shadow">
    {{ form_start(form) }}
		<form method="post" class="form-style"> 
		<h1 class="h3 mb-3 font-weight-normal titre-form">Mon compte</h1>

		<div class="row">
		{% set columns = 3 %}
		{% set colSize = 12 / columns %}

			<div class="col-md-{{ colSize }} text-md-end col-form">
				{{ form_label(form.firstname, 'Prénom') }}
				{{ form_widget(form.firstname) }}
			</div>
			<div class="col-md-{{ colSize }} text-md-end col-form">
				{{ form_label(form.address, 'Adresse') }}
				{{ form_widget(form.address) }}
			</div>
			<div class="col-md-{{ colSize }} text-md-end col-form">
				{{ form_label(form.phone, 'Téléphone') }}
				{{ form_widget(form.phone) }}
			</div>
			<div class="col-md-{{ colSize }} text-md-end col-form">
				{{ form_label(form.lastname, 'Nom') }}
				{{ form_widget(form.lastname) }}
			</div>
			<div class="col-md-{{ colSize }} text-md-end col-form">
				{{ form_label(form.zipcode, 'Code postal') }}
				{{ form_widget(form.zipcode) }}
			</div>
			<div class="col-md-{{ colSize }} text-md-end col-form">
				{{ form_label(form.email, 'Email') }}
				{{ form_widget(form.email) }}
			</div>
			<div class="col-md-{{ colSize }} text-md-end col-form">
				{{ form_label(form.contactPreference, 'Préférences de contact') }}
				{{ form_widget(form.contactPreference) }}
			</div>
			<div class="col-md-{{ colSize }} text-md-end col-form">
				{{ form_label(form.city, 'Ville') }}
				{{ form_widget(form.city) }}
			</div>
			<div class="col-md-{{ colSize }} text-md-end col-form">
				{{ form_label(form.nationality, 'Nationalité') }}
				{{ form_widget(form.nationality) }}
			</div>
			<div class="col-md-{{ colSize }} text-md-end col-form">
				{{ form_label(form.maritalStatus, 'Préférences de contact') }}
				{{ form_widget(form.maritalStatus) }}
			</div>
			<div class="col-md-{{ colSize }} text-md-end col-form">
				{{ form_label(form.birthdate, 'Date de naissance') }}
				{{ form_widget(form.birthdate) }}
			</div>
			<div class="col-md-{{ colSize }} text-md-end col-form">
				{{ form_label(form.password, 'Mot de passe') }}
				{{ form_widget(form.password) }}
			</div>
		</div>
		</br>
		<button type="submit" class="btn btn-lg btn-primary submit-form" style="margin-left:4rem">
			{{ button_label|default('Enregistrer') }}
		</button>
		{{ include('user_public/_delete_form.html.twig') }}
		</form>
		<a class="btn btn-link" style="margin-left:3rem" href="{{ path('user_dashboard') }}">Retour au dashboard</a>
	{{ form_end(form) }}
</div>