{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
<div class="container-sm form-container shadow">
	<form method="post" class="form-style">	
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h1 class="h3 mb-3 font-weight-normal titre-form">Créer un compte</h1>

	{{ form_errors(registrationForm) }}

	{{ form_start(registrationForm) }}

	<div style="padding:1rem">
		{{ form_row(registrationForm.firstname) }}
	</div>
	<div style="padding:1rem">
		{{ form_row(registrationForm.lastname) }}
	</div>
	<div style="padding:1rem">
		{{ form_row(registrationForm.email) }}
	</div>
	<div style="padding:1rem">
		{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
	</div>
	<div style="padding:1rem">
		{{ form_row(registrationForm.contactPreference) }}
	</div>
	<div style="padding:1rem">
		{{ form_row(registrationForm.agreeTerms) }}
	</div>

	<button type="submit" class="btn btn-lg btn-primary" style="margin-top:2rem">Créer le compte</button>
		{{ form_end(registrationForm) }}
	</form>
</div>
{% endblock %}
