{% extends 'base.html.twig' %}

{% block body %}

	<div class="container-sm form-container-wide shadow">

		<h1>{{ offer.name  }}</h1>
		<li style="font-size:1rem">
			<b>Entreprise</b>
			:
			<a href="{{ path('company_details', {'id': offer.company.id}) }}" style="font-size:20px">
				{{ offer.company.name }}
			</a>
		</li>

		<li style="font-size:1rem">
			<b>Type de Contrat</b>
			:
			{{ offer.contractType }}
		</li>

		<li style="font-size:1rem">
			<b>Salaire</b>
			:
			{{ offer.minSalary }}
			à
			{{ offer.maxSalary }}
			€ brut annuel
		</li>

		<li style="font-size:1rem">
			<b>Lieux</b>
			:
			{{ offer.assignment }}
		</li>

		<li style="font-size:1rem">
			<b>Conditions de travail</b>
			:
			{{ offer.remote }}
		</li>

		<hr>

		<li style="font-size:1rem">
			<b>Description du poste</b>
			:
			{{ offer.description }}
		</li>
		<a href="{{ path('process_apply', {'offer_id': offer.id}) }}" class="btn btn-primary">Postuler</a>
		<div class="container mt-4 d-flex justify-content-center">

			{% if isFavorited  %}
				<a href="{{ path('favorites_remove', {'offer_id': offer.id, "from":"detail" }) }}" class="btn btn-primary">Retirer de mes favoris</a>

			{% else %}
				<a href="{{ path('favorites_apply', {'offer_id': offer.id}) }}" class="btn btn-primary">Ajouter à mes favoris</a>
			{% endif %}

		</div>
		<a href="{{ path('offer_public_list') }}" class="btn btn-primary">Retour aux offres</a>
	</div>
{% endblock %}
