{% extends 'base.html.twig' %}

{% block body %}
<main class="main_home">
	<div class="container-sm form-container shadow offer-details">

		<h1>{{ offer.name  }}</h1>
		<div style="font-size:1rem">
			<b>Entreprise</b>
			<p>
				<a href="{{ path('company_details', {'id': offer.company.id}) }}" style="font-size:20px">
					{{ offer.company.name }}
				</a>
			</p>
		</div>

		<div style="font-size:1rem">
			<b>Type de Contrat</b>
			<p>{{ offer.contractType }}</p>
		</div>

		<div style="font-size:1rem">
			<b>Salaire</b>
			<p>
				{{ offer.minSalary }}
				à
				{{ offer.maxSalary }}
				€ brut annuel
			</p>
		</div>

		<div style="font-size:1rem">
			<b>Lieux</b>
			</p>{{ offer.assignment }}</p>
		</div>

		<div style="font-size:1rem">
			<b>Conditions de travail</b>
			<p>{{ offer.remote }}</p>
		</div>

		<hr>

		<div style="font-size:1rem">
			<b>Description du poste</b>
			<p>{{ offer.description }}</p>
		</div>
		
		<div class="text-center mt-5 mb-5 offer-description">
			<a href="{{ path('process_apply', {'offer_id': offer.id}) }}" class="btn btn-primary" style="margin-right:2rem">Postuler</a>
			{% if isFavorited  %}
				<a href="{{ path('favorites_remove', {'offer_id': offer.id, "from":"detail" }) }}" class="btn btn-primary">Retirer de mes favoris</a>
			{% else %}
				<a href="{{ path('favorites_apply', {'offer_id': offer.id}) }}" class="btn btn-primary">Ajouter à mes favoris</a>
			{% endif %}
		</div>
		
		<p class="text-center">
			<a href="{{ path('offer_public_list') }}">Retour aux offres</a>
		</p>
	</div>
</main>
{% endblock %}
