{% extends 'base.html.twig' %}

{% block title %}Education index{% endblock %}

{% block body %}
    <h1>Education index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>School</th>
                <th>City</th>
                <th>BeginDate</th>
                <th>EndDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for education in education %}
            <tr>
                <td>{{ education.id }}</td>
                <td>{{ education.name }}</td>
                <td>{{ education.school }}</td>
                <td>{{ education.city }}</td>
                <td>{{ education.beginDate ? education.beginDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ education.endDate ? education.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_education_show', {'id': education.id}) }}">show</a>
                    <a href="{{ path('app_education_edit', {'id': education.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_education_new') }}">Create new</a>
{% endblock %}
