{% extends 'base.html.twig' %}

{% block title %}Criteria index{% endblock %}

{% block body %}
    <h1>Criteria index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Salary</th>
                <th>Profil</th>
                <th>Contract</th>
                <th>Location</th>
                <th>Remote</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for criterion in criterias %}
            <tr>
                <td>{{ criterion.id }}</td>
                <td>{{ criterion.salary }}</td>
                <td>{{ criterion.profil }}</td>
                <td>{{ criterion.contract }}</td>
                <td>{{ criterion.location }}</td>
                <td>{{ criterion.remote }}</td>
                <td>
                    <a href="{{ path('app_criteria_show', {'id': criterion.id}) }}">show</a>
                    <a href="{{ path('app_criteria_edit', {'id': criterion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_criteria_new') }}">Create new</a>
{% endblock %}
