{% extends 'base.html.twig' %}

{% block title %}Criteria index{% endblock %}

{% block body %}
    <h1>Criteria index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Salaire</th>
                <th>Profil</th>
                <th>Type de contrat</th>
                <th>Localisation</th>
                <th>Télétravail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for criterion in criterias %}
            <tr>
                <td>{{ criterion.id }}</td>
                <td>{{ criterion.salary }}</td>
                <td>{{ criterion.profil }}</td>
                <td>{{ criterion.contract }}</td>
                <td>{{ criterion.location }}</td>
                <td>{{ criterion.remote }}</td>
                <td>
                    <a href="{{ path('criteria_show', {'id': criterion.id}) }}">Voir</a>
                    <a href="{{ path('criteria_edit', {'id': criterion.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('criteria_new') }}">Créer des nouveaux critères</a>
{% endblock %}
