{% extends 'base.html.twig' %}

{% block title %}Criteria{% endblock %}

{% block body %}
    <h1>Mes critères</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ criteria.id }}</td>
            </tr>
            <tr>
                <th>Salaires</th>
                <td>{{ criteria.salary }}</td>
            </tr>
            <tr>
                <th>Profil</th>
                <td>{{ criteria.profil }}</td>
            </tr>
            <tr>
                <th>Type de contrat</th>
                <td>{{ criteria.contract }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ criteria.location }}</td>
            </tr>
            <tr>
                <th>Télétravail</th>
                <td>{{ criteria.remote }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('criteria_index', {'id': user.id}) }}">Retour à la liste des critères</a>

    <a href="{{ path('criteria_edit', {'id': criteria.id}) }}">Modifier mes critères</a>

    {{ include('criteria/_delete_form.html.twig') }}
{% endblock %}
