{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
<main class="main_home">
    <div class="container-sm form-container shadow offer-details">
        <h1 class="text-center">Envoyer un message</h1>
        {{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}
        {{ form_widget(form) }}

        {# Ajouter une condition pour n'afficher le bouton d'envoi que si le formulaire est valide #}
        {% if form.vars.valid %}
            <button class="btn btn-lg btn-primary btn-block mt-3">Envoyer</button>
        {% endif %}
        <p class="text-center mt-4">
            <a href="{{ path('messages_index') }}">Retour à la messagerie</a>
        </p>
    </div>
    <div class="offcanvas-mail">
        <p class="text-center mt-4">
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                Voir mes dossiers
            </a>
        </p>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
        <div class="offcanvas-body">
            <div class="list-group">
                <a href="{{ path("messages_index") }}" class="list-group-item list-group-item-action active">Ma messagerie</a>
            </div>
            <div class="list-group">
                <a href="{{ path("messages_received") }}" class="list-group-item list-group-item-action active"><i class="bi bi-envelope-arrow-down"></i>  Boîte de réception</a>
            </div>
            <div class="list-group">
                <a href="{{ path("messages_sent") }}" class="list-group-item list-group-item-action active"><i class="bi bi-envelope-arrow-up"></i>  Eléments envoyés</a>
            </div>
            <div class="list-group">
                <a href="{{ path("messages_send") }}" class="list-group-item list-group-item-action active"><i class="bi bi-envelope-plus"></i>  Rédiger un message</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}