{% extends 'base.html.twig' %}

{% block title %}Messages envoyés
{% endblock %}

{% block body %}
<main class="main_home">
    <div class="section-hero-mail">
        <img class="img-mail"src="{{ asset('build/images/banniere_messagerie.png') }}" alt="banniere offre" style="width: 100%;">
            <div class="hero-text-mail">
                Eléments envoyés
            </div>
    </div>
    <div class="container-sm form-container-wide shadow">
        <div class="mt-4">
			<div class="mb-4">
				<p>Vous avez envoyé {{ app.user.sent|length }} messages</p>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>De</th>
						<th>Sujet</th>
						<th>Date</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
				{% for message in app.user.sent %}
				{% set bold = "" %}
				{% if message.isRead == 0 %}
					{% set bold = "fw-bold" %}
                {% endif %}
					<tr>
						<td>{{ message.sender.email }}</td>
						<td>
							<a href="{{ path("messages_read", {id: message.id}) }}">{{ message.title }}</a>
						</td>
						<td>{{ message.createdAt|date }}</td>
						<td>
							<div class="mail-action-button">
    							{{ include('messages/_delete_form.html.twig') }}
							</div>
						</td>
					</tr>
			    {% endfor %}
				</tbody>
			</table>
    	</div>
    <div class="offcanvas-mail">
        <p class="text-left mt-4">
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                Voir mes dossiers
            </a>
        </p>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
        <div class="offcanvas-body">
            <div class="list-group">
                <a href="{{ path("messages_index") }}" class="list-group-item list-group-item-action active">Ma messagerie</a>
            </div>
            <div class="list-group">
                <a href="{{ path("messages_received") }}" class="list-group-item list-group-item-action active"><i class="bi bi-envelope-arrow-down"></i>  Boîte de réception</a>
            </div>
            <div class="list-group">
                <a href="{{ path("messages_sent") }}" class="list-group-item list-group-item-action active"><i class="bi bi-envelope-arrow-up"></i>  Eléments envoyés</a>
            </div>
            <div class="list-group">
                <a href="{{ path("messages_send") }}" class="list-group-item list-group-item-action active"><i class="bi bi-envelope-plus"></i>  Rédiger un message</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
