{% extends 'base.html.twig' %}

{% block title %}Experience{% endblock %}

{% block body %}
    <h1>Experience</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ experience.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ experience.name }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ experience.company }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ experience.city }}</td>
            </tr>
            <tr>
                <th>BeginDate</th>
                <td>{{ experience.beginDate ? experience.beginDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ experience.endDate ? experience.endDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_experience_index') }}">back to list</a>

    <a href="{{ path('app_experience_edit', {'id': experience.id}) }}">edit</a>

    {{ include('experience/_delete_form.html.twig') }}
{% endblock %}
