{% extends 'base.html.twig' %}

{% block title %}Dashboard candidat
{% endblock %}

{% block body %}
<main class="mb-5">
	<div class="container text-center dashboard-container">
		<h1 class="dashboard-h1">Bienvenue
			{{ user.firstname }}
			{{ user.lastname }}
			!</h1>
		<div class="row">
			<div class="col dashboard-col">
				<div class="card shadow dashboard-card">
					<div class="card-body">
						<a href="{{ path('user_edit_user', {'id': user.id}) }}" class="dashboard-link"><i class="bi bi-person-vcard"></i> Mes coordonnées</a>
					</div>
				</div>
			</div>
			<div class="col dashboard-col">
				<div class="card shadow dashboard-card">
					<div class="card-body">
						<a href="{{ path('cv_user_cv', {'id': user.id}) }}" class="dashboard-link"><i class="bi bi-journal-text"></i> Mon CV</a>
					</div>
				</div>
			</div>
			<div class="col dashboard-col">
				<div class="card shadow dashboard-card">
					<div class="card-body">
						<a href="{{ path('offer_user_offer', {'id': user.id}) }}" class="dashboard-link"><i class="bi bi-person-rolodex"></i> Mes offres personnalisées</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col dashboard-col">
				<div class="card shadow dashboard-card">
					<div class="card-body">
						<a href="{{ path('criteria_index', {'id': user.id}) }}" class="dashboard-link"><i class="bi bi-person-lines-fill"></i> Mes critères de recherche</a>
					</div>
				</div>
			</div>
			<div class="col dashboard-col">
				<div class="card shadow dashboard-card">
					<div class="card-body">
						<a href="{{ path('process_list') }}" class="dashboard-link"><i class="bi bi-card-checklist"></i> Mes processus en cours</a>
					</div>
				</div>
			</div>
			<div class="col dashboard-col">
				<div class="card shadow dashboard-card">
					<div class="card-body">
						<a href="/logout" class="dashboard-link"><i class="bi bi-box-arrow-right"></i> Déconnexion</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
