{% extends 'base.html.twig' %}

{% block title %}Users index
{% endblock %}

{% block body %}
<main class="main_home">
	<div class="container-sm form-container-wide shadow">
		<h1 class="title1">Liste des utilisateurs</h1>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Prénom</th>
					<th>Nom</th>
					<th>Email</th>
					<th>Téléphone</th>
					{% if type == 'candidats' %}
						<th>Adresse</th>
						<th>CP</th>
						<th>Ville</th>
						<th>Préférence de contact</th>
						<th>Date de naissance</th>
						<th>Nationalité</th>
						<th>Etat civil</th>
					{% endif %}
					<th>Rôles</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.firstname }}</td>
						<td>{{ user.lastname }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.phone }}</td>
						{% if type == 'candidats' %}
							<td>{{ user.address }}</td>
							<td>{{ user.zipcode }}</td>
							<td>{{ user.city }}</td>
							<td>{{ user.contactPreference }}</td>
							<td>{{ user.birthdate ? user.birthdate|date('d-m-Y') : '' }}</td>
							<td>{{ user.nationality }}</td>
							<td>{{ user.maritalStatusName }}</td>
						{% endif %}
						<td>
							<a href="{{ path('user_roles', {'id': user.id}) }}">{{ user.rolesName }}</a>
						</td>
						<td>
							<a href="{{ path('user_delete', {'id': user.id}) }}"><i class="bi bi-trash3"></i></a>
							<a href="{{ path('user_edit', {'id': user.id}) }}"><i class="bi bi-pencil-square"></i></a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">Aucun compte</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a class="btn btn-lg btn-primary submit-form" href="{{ path('user_new') }}">Créer un nouvel utilisateur</a>
		<p class="text-center">
            <a href="{{ path('admin_dashboard') }}" class="btn btn-link" style="margin-top:1rem" >Retour au dashboard admin</a>
        </p>
	</div>
</main>
{% endblock %}
