{% extends 'base.html.twig' %}

{% block title %}Users index
{% endblock %}

{% block body %}
<main class="main_home">
	<div class="container-sm form-container shadow offer-details">
		<h1 class="h1_user">
			Voir un utilisateur 
			{{ include('user/_delete_form.html.twig') }}
		</h1>

		<table class="table user-show">
			<tbody>
				<tr>
					<th>Prénom</th>
					<td>{{ user.firstname }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ user.lastname }}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{ user.email }}</td>
				</tr>
				<tr>
					<th>Téléphone</th>
					<td>{{ user.phone }}</td>
				</tr>
				<tr>
					<th>Adresse</th>
					<td>{{ user.address }}</td>
				</tr>
				<tr>
					<th>CP</th>
					<td>{{ user.zipcode }}</td>
				</tr>
				<tr>
					<th>Ville</th>
					<td>{{ user.city }}</td>
				</tr>
				<tr>
					<th>Préférence de contact</th>
					<td>{{ user.contactPreference }}</td>
				</tr>
				<tr>
					<th>Date de naissance</th>
					<td>{{ user.birthdate ? user.birthdate|date('d-m-Y') : '' }}</td>
				</tr>
				<tr>
					<th>Nationalité</th>
					<td>{{ user.nationality }}</td>
				</tr>
				<tr>
					<th>Etat civil</th>
					<td>{{ user.maritalStatus }}</td>
				</tr>
			</tbody>
		</thead>
	</table>
	<p class="text-center">
		<a class="btn btn-link" href="{{ path('user_index') }}">Retour à la liste des utilisateurs</a>
	</p>
</main>
{% endblock %}
